[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
django = "*"
requests-html = "*"
mypy = "*"
setuptools = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-results = "*"
django-celery-beat = "*"
redis = "*"
django-jet = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-auth = "*"
clean = "*"

[requires]
python_version = "3.6"
